*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}
.content1{
   width: 100%;
   height: 40%;
   text-align: center;
   margin: auto;
}
.content1-inside{
    width: 100%;
    height: 100%;
    background:
        linear-gradient(rgba(62, 62, 110, 0.466),
        rgba(140, 140, 180, 0.466)), url('image/boxes.jpg');
    background-size: cover;
}
.text-content1{
    padding: 15%;
}.text-content1 h1{
    font-size: 8rem;
    margin-top: -4%;
    color: white;
}.text-content1 h3{
    font-size: 2.5rem;
    color: white;
}
.title-fulfillment{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-customs{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-payment{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-global{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-premium{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-compare{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.title-3pl{
    width: 80%;
    background-color: #233871;
    padding: 1rem;
    margin-bottom: 4em;
    color: white;
}
.header-detail{
    background-color: white;
    width: max-content ;
    padding-left: 2%;
    padding-right: 28%;
    margin-left: -2rem;
    border: 0.3em sandybrown solid;
    color: #233871;
    clip-path: polygon(70% 0, 55% 100%, 0% 100%, 0 0%);
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}
.header-detail1{
    background-color: white;
    width: max-content ;
    padding-left: 2%;
    padding-right: 36%;
    margin-left: -2rem;
    border: 0.3em sandybrown solid;
    color: #233871;
    clip-path: polygon(70% 0, 55% 100%, 0% 100%, 0 0%);
}
.header-detail2{
    background-color: white;
    width: max-content ;
    padding-left: 2%;
    padding-right: 20%;
    margin-left: -2rem;
    border: 0.3em sandybrown solid;
    color: #233871;
    clip-path: polygon(70% 0, 55% 100%, 0% 100%, 0 0%);
}


/* Introblocks */
#introblocks{display:block; position:relative; z-index:1;
margin: 0 auto; text-align: center; padding: 0px;}
#introblocks ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: -5rem;
    margin: -8rem auto; text-align: left;
    font-family: roboto;
    font-size: 16px; 
    line-height: 20px;
}
#introblocks h6{
    text-align: center; font-size: 24px; font-family: 'Roboto';
}
#introblocks .elements li article{color:#FFFFFF; background-color:#233871; height: 300px; padding: 2rem;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: ease-in-out 0.2s;
}
#introblocks .elements li article a i{color:#97A9BD; background-color:#FFFFFF;}
#introblocks .elements li article:hover{color:#474747; background-color:#FFFFFF !important;}
#introblocks .elements li article:hover a i{color:#FFFFFF !important; background-color:#97A9BD;}
#introblocks .elements li:nth-child(2) article, #introblocks .elements li:nth-child(2) article:hover a i{background-color:#939AA5;}
#introblocks .elements li:nth-child(2) article a i{color:#939AA5;}
#introblocks .elements li:nth-child(3) article, #introblocks .elements li:nth-child(3) article:hover a i{background-color:#233871;}
#introblocks .elements li:nth-child(3) article a i{color:#233871;}
#introblocks .elements li:nth-child(4) article, #introblocks .elements li:nth-child(4) article:hover a i{background-color:#939AA5;}
#introblocks .elements li:nth-child(4) article a i{color:#939AA5;}

.group_image {
    width: 60%;
    margin: 2rem auto; 
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    margin-top: 12rem;
    margin-bottom: -18rem;
}
.gallery {
    display: grid; grid-gap: 1.5rem; 
}
.gallery_img1 {
    width: 100%; height: 60%; object-fit:cover; display:block; 
}
.gallery_img2 {
    width: 100%; height: 60%; object-fit:cover; display:block; 
}
.gallery_img3 {
    width: 100%; height: 60%; object-fit:cover; display:block; 
}
.gallery_img4 {
    width: 100%; height: 60%; object-fit:cover; display:block; margin-top: -11rem;
}
.gallery_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery_item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery_item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery_item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}


